*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: red;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
nav ul li:hover{
    color: red;
}
.button:hover{
    color: white;
    transform: scale(1.2);
}
.button{
    background-color: red;
    border-radius: 50px;
    border: 1px solid transparent;
    text-align: center;
    padding: 5px 15px;

}
.content{
    position:absolute;
    top: 50%;
    left:10%;
    transform: translateY(-50%);
}
h1{
    color: black;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: lighter;
    letter-spacing: 1px;
}
h4{
    color: black;
    font-size: 25px;
    font-weight: lighter;
}
.newsletter form{
    width: 200px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 10px 100px 15px 10px;
    border: 1px solid red;
    outline: none;
    border-radius: 30px;
    text-align: center;
}
.newsletter form input:last-child{
    position: absolute;
    outline: none;
    border: none;
    padding: 10px 30px;
    margin-top: 25px;
    border-radius: 30px;
    background-color: red;
    color: white;
}
span{
    color: red;
}